package.name = "asterinas"

# Execution Sequence
[tag.PostToFunc]
args = [ "func" ]
desc = "This function should be executed after {func}."

[tag.NotPostToFunc]
args = [ "func" ]
desc = "This function should not be executed after {func}."

[tag.NotPriorToFunc]
args = [ "func" ]
types = [ "hazard" ]
desc = "This function should not be executed before {func}."

[tag.CallOnce]
args = [ "scope" ]
types = [ "hazard" ]
desc = "This function should be called only once per {scope}."

[tag.Context]
args = [ "after", "before" ]
desc = "This function should be executed after {after} before {before}."

[tag.OriginateFrom]
args = [ "val", "func" ]
desc = "{val} should originate from {func}."

#Value
[tag.Eq]
args = [ "lhs", "rhs"]
desc = "{lhs} should be equal to {rhs}."

[tag.Ne]
args = [ "lhs", "rhs"]
desc = "{lhs} should not be equal to {rhs}."

[tag.Ge]
args = [ "lhs", "rhs" ]
desc = "{lhs} should be greater than or equal to {rhs}."

#Valid
[tag.Valid]
args = [ "val" ]
desc = "{val} should be valid."

[tag.ValidAccessAddr]
args = [ "addr", "access" ]
desc = "{addr} should be valid for {access}."

[tag.ValidBaseAddr]
args = [ "addr", "hardware" ]
desc = "{addr} should be a valid base address of {hardware}."

[tag.ValidInstanceAddr]
args = [ "addr", "type" ]
desc = "{addr} should point to a valid instance of {type}."

#Reference
[tag.RefHeld]
args = [ "val" ]
desc = "A reference to {val} should have been held."

[tag.RefUnheld]
args = [ "val" ]
desc = "Any reference to {val} should not have been held."

[tag.OwnedResource]
args = [ "val" ]
desc = "{val} shoule be exclusively owned."

#Memory
[tag.UserSpace]
args = [ "start", "end" ]
desc = "{start}..{end} should be within user space."

[tag.KernelMemorySafe]
args = [ "val" ]
types = [ "hazard" ]
desc = "{val} should not affect kernel's memory safety."

[tag.Section]
args = [ "val", "section" ]
types = [ "hazard" ]
dsec = "{val} should reside in {section}."

#Misc
[tag.Forgotten]
args = [ "val" ]
desc = "{val} must be forgotten by [`core::mem::forget`], [`ManuallyDrop`], or [`into_raw`]."

[tag.MutAccess]
args = [ "val" ]
types = [ "hazard" ]
desc = "The caller should have exclusive mutable access to {val}."

[tag.NonModifying]
args = [ "val" ]
types = [ "hazard" ]
desc = "{val} should not be modified after calling the function."

[tag.Unaccessed]
args = [ "val" ]
desc = "{val} should not be accessed."

[tag.Bounded]
args = [ "val", "bound" ]
desc = "{val} should be bounded by {bound}."

[tag.LockHeld]
args = [ "val" ]
desc = "{val} should have already held the lock."

[tag.ReferTo]
args = [ "func" ]
desc = "This function should meet the safety requirement of {func}."

[tag.Sync]
args = [ "val" ]
types = [ "hazard" ]
desc = "If the type of {val} is not [`Sync`], the caller must ensure that {val} is not accessed concurrently."

[tag.Memo]
args = [ "desc" ]
desc = "{desc}"